<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empleado</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mx-auto w-75 mt-5">
        <h1 class="text-center">Crear Empleado</h1>
        
        <!-- Formulario de creación de empleado -->
        <form th:action=@{/empleado/new/save}  method="POST" class="mt-4">
            <div class="form-group">
                <label for="tipoDocumento">Tipo de Documento</label>
                <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                    <option value="Cedula">Cédula de Ciudadanía (CC)</option>
                    <option value="Pasaporte">Pasaporte (PP)</option>
                    <option value="Cedula extranjera">Cédula Extranjera (CE)</option>
                    <option value="Tarjeta de Identidad">Tarjeta de Identidad (TI)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="numeroDocumento">Número de Documento</label>
                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" placeholder="Ingrese el número de documento" required>
            </div>

            <div class="form-group">
                <label for="rol">Rol</label>
                <select type="text" class="form-control" id="rol" name="rol" placeholder="Ingrese el rol" required>
                <option value="Empleado">Empleado</option>
                </select> 
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre" required>
            </div>
            
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Ingrese el login" required>
            </div>

            <div class="form-group">
                <label for="palabraClave">Palabra Clave</label>
                <input type="password" class="form-control" id="palabraClave" name="palabraClave" placeholder="Ingrese la palabra clave" required>
            </div>

            <div class="form-group">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" placeholder="Ingrese la nacionalidad" required>
            </div>

            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección" required>
            </div>

            <div class="form-group">
                <label for="correoElectronico">Correo Electrónico</label>
                <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" placeholder="Ingrese el correo electrónico" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el teléfono" required>
            </div>

            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad" required>
            </div>

            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" id="departamento" name="departamento" placeholder="Ingrese el departamento" required>
            </div>
            
            <div class="form-group">
                <label for="codigoPostal">Código Postal</label>
                <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Ingrese el código postal" required>
            </div>

            <div class="form-group">
                <label for="tipoPersona">Tipo de Persona</label>
                <select type="text" class="form-control" id="tipoPersona" name="tipoPersona" required>
                    <option value="Natural">Natural</option>
                    <option value="Juridica">Juridica</option>
                    </select> 
            </div>

            <div class="form-group">
                <label for="rolEmpleado">Rol del Empleado</label>
                <select type="text" class="form-control" id="rolEmpleado" name="rolEmpleado" required>
                    <option value="Gerente general">Gerente general</option>
                    <option value="Gerente oficina">Gerente oficina</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Asesores">Asesores</option>
                    </select> 
            </div>

            <input type="hidden" id="id_oficina" name="id_oficina" required>
        
            <input type="hidden" id="id_punto_de_atencion" name="id_punto_de_atencion" required>

            <div class="form-group">
                <!--<label for="id_oficina"></label>-->
                <h5>Eliga el punto de atencion asociado al empleado</h5>
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Tipo</th>
                            <th>Nombre Oficina</th>
                            <th>Selección</th>
                        </tr>
                    </thead>
                    <th:block th:each="puntoDeAtencion:${puntoDeAtencion}">
                        <tr>
                            <td th:text="${puntoDeAtencion.id}"></td>
                            <td th:text="${puntoDeAtencion.latitud}"></td>
                            <td th:text="${puntoDeAtencion.longitud}"></td>
                            <td th:text="${puntoDeAtencion.tipo}"></td>
                            <td>
                                <span th:if="${puntoDeAtencion.oficina != null}" th:text="${puntoDeAtencion.oficina.nombre}"></span>
                                <span th:if="${puntoDeAtencion.oficina == null}">No hay oficina asociada</span>
                            </td>
                            <td> 
                                <button type="button" class="btn btn-primary" th:data-idPunto="${puntoDeAtencion.id}" th:data-idOficina="${puntoDeAtencion.oficina.id}">Elegir</button>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <script>
                document.querySelectorAll('.btn-primary').forEach(function(button) {
                    button.addEventListener('click', function() {
                        var puntoId = this.getAttribute('data-idPunto');
                        document.getElementById('id_punto_de_atencion').value = puntoId;
                        var oficinaId = this.getAttribute('data-idOficina');
                        document.getElementById('id_oficina').value = oficinaId;
                    });
                });
            </script>
            
            
            <button type="submit" class="btn btn-primary">Crear Empleado</button>
            <a th:href="@{/}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</body>
    </html>
