<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1>Lista de oficinas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Numero de Puntos de Atencion</th>
                    <th>Horario de Atencion</th>
                </tr>
            </thead>
            <th:block th:each="oficina:${oficina}">
                <tr>
                    <td th:text="${oficina.id}"></td>
                    <td th:text="${oficina.nombre}"></td>
                    <td th:text="${oficina.direccion}"></td>
                    <td th:text="${oficina.numeroPuntosAtencion}"></td>
                    <td th:text="${oficina.horarioDeAtencion}"></td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>

        </div>
    </div>
    
</body>
</html>